@font-face {
  font-family: 'Silkscreen';
  src: url('./Silkscreen/Silkscreen-Regular.ttf');
}

body {
  color: black;
  font-family: 'Silkscreen', cursive;
}

.container {
  text-align: center;
}

.numbers {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;
}

section {
  width: 320px;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: #322b6c;
  border-radius: 10px;
}

section p, section div {
  margin: 0;
}

article {
  width: 100%;
  text-align: center;
  font-size: 5rem;
}

.dark-souls {
  background-color: #322b6c;
  border-radius: 10px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  opacity: 1;
  animation: fade-in 10s linear;
}

.dark-souls p {
  color: white;
  letter-spacing: 5px;
  font-weight: 400;
  animation: fade-in 10s linear, text-zoom 5s linear;
}


@keyframes fade-in {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes text-zoom {
  0% {
    font-size: 2rem;
  }

  25% {
    font-size: 3rem;
  }

  50% {
    font-size: 4rem;
  }

  75% {
    font-size: 5rem;
  }

  100% {
    font-size: 5rem;
  }
}
